@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700, 900');

body {
	margin: 0;
	padding: 0;
	font-size: 1rem;
	background: #f0f8ea;
	font-family: 'Quicksand', sans-serif;
}
* {
	margin: 0;
	padding: 0;
}

.cont {
	display: grid;
	grid-template-columns: 100px 1fr auto;
	grid-template-areas: "toggle logo auth ";
}

header {
	background: #e54b4b;
	color: #ebebd3;
	padding: 1em 0;
	position: relative;
}

header::after {
	content: '';
	clear: both;
	display: block;
}

.logo {
	grid-area: logo;

	justify-self: center;
	align-self: center;
	font-size: 1rem;
	margin-left: 0;
	text-transform: uppercase;
	font-weight: 700;
}

.logo span {
	font-weight: 400;
}

.site-nav {
	/*   grid-area: navigation */
	position: absolute;
	top: 100%;
	left: 0%;
    background: #464654;
    clip-path: circle(0px at top left);
  transition: clip-path ease-in-out 700ms;
	/* height: 0px;
	overflow: hidden; */
}

.site-nav--open {
    /* height: auto; */
    clip-path: circle(250% at top left);
}

.site-nav ul {
	list-style: none;
}

.site-nav li {
	border-bottom: 1px solid #575765;
}
.site-nav li:last-child {
	border-bottom: none;
}

.site-nav a {
	text-decoration: none;
	color: #ebebd3;
	padding: 2em 6em 2em 2em;
	display: block;
	text-transform: lowercase;
}

.site-nav a:hover,
.site-nav a:focus {
	background: #e4b362;
	color: #464654;
	font-weight: 900;
}

/* Barra de navegacion de Autenticacion */
.site-nav-auth {
	grid-area: auth;
	justify-self: end;
	align-self: center;
}
.site-nav-auth ul {
	list-style: none;
}

.site-nav-auth li {
	display: inline-block;
}

.site-nav-auth a {
	text-decoration: none;
	color: #ebebd3;
	padding-right: 1rem;
	font-weight: 700;
}

/* Clases para  el menu toggle */

.menu-toggle {
	grid-area: toggle;
	cursor: pointer;
	justify-self: start;
	align-self: center;
	margin-left: 1em;
}

.hamburger,
.hamburger::before,
.hamburger::after {
	content: '';
	display: block;
	background: #ebebd3;
	height: 3px;
	width: 1.75rem;
	border-radius: 3px;
	transition: all ease-in-out 300ms;
	cursor: pointer;
}

.hamburger::before {
	transform: translateY(-6px);
}

.hamburger::after {
	transform: translateY(3px);
}

.open .hamburger {
	transform: rotate(45deg);
}

.open .hamburger::before {
	opacity: 0;
}

.open .hamburger::after {
	transform: translateY(-3px) rotate(-90deg);
}

@media (min-width: 980px) {
	.cont {
		display: grid;
		grid-template-columns: 200px 1fr 200px;
		grid-template-areas: "logo navigation auth ";
	}

	.menu-toggle {
		display: none;
	}

	.site-nav {
		grid-area: navigation;
		height: auto;
		position: initial;
		background: transparent;
		/* float: right; */
        clip-path: initial;
        justify-self: center;
        align-self: center
	}

	.site-nav li {
		display: inline-block;
		border: none;
	}

	.site-nav a {
		padding: 0;
		margin-left: 3em;
		color: #ebebd3;
		padding-right: 1rem;
		font-weight: 700;
	}

	.site-nav a:hover,
	.site-nav a:focus {
		background: transparent;
	}

	.site-nav--icon {
		display: none;
    }
    
    .site-nav-auth ul {
		list-style: none;
		align-content: center;
		display: flex;
		margin-left: 1em;
		font-size: 100%;
	}
}

@media (max-width: 360px) {
	.site-nav-auth ul {
		list-style: none;
		align-content: center;
		display: flex;
		margin-left: 1em;
		font-size: 80%;
	}
}
